In [18]:
import pandas as pd
import sqlite3

In [2]:
df = pd.read_csv('cad_cia_aberta.csv', sep =';', encoding="ISO-8859-1")

In [3]:
df.head()

,CNPJ_CIA,DENOM_SOCIAL,DENOM_COMERC,DT_REG,DT_CONST,DT_CANCEL,MOTIVO_CANCEL,SIT,DT_INI_SIT,CD_CVM,...,UF_RESP,PAIS_RESP,CEP_RESP,DDD_TEL_RESP,TEL_RESP,DDD_FAX_RESP,FAX_RESP,EMAIL_RESP,CNPJ_AUDITOR,AUDITOR
0,08.773.135/0001-00,2W ECOBANK S.A.,2W ECOBANK S.A.,2020-10-29,2007-03-23,NaN,NaN,ATIVO,2020-10-29,25224,...,SP,NaN,4707000.0,11,39579400.0,NaN,NaN,ri@2wecobank.com.br,52.803.244/0001-06,KPMG AUDITORES ASSOCIADOS
1,11.396.633/0001-87,3A COMPANHIA SECURITIZADORA,TRIPLO A COMPANHIA SECURITIZADORA,2010-03-08,2009-11-03,2015-12-18,Cancelamento Voluntário - IN CVM 480/09,CANCELADA,2015-12-18,21954,...,RJ,NaN,20020000.0,21,22338867.0,21.0,22338867.0,juridico@triploasec.com.br,60.525.706/0001-07,MOORE STEPHENS LIMA LUCCHESI AUDITORES INDEPEN...
2,12.091.809/0001-55,3R PETROLEUM OLÉO E GÁS S.A.,NaN,2020-11-09,2010-06-08,NaN,NaN,ATIVO,2020-11-09,25291,...,RJ,NaN,22250145.0,21,34755555.0,NaN,NaN,ri@3rpetroleum.com.br,57.755.217/0001-29,KPMG AUDITORES INDEPENDENTES LTDA.
3,01.547.749/0001-16,521 PARTICIPAÇOES S.A. - EM LIQUIDAÇÃO EXTRAJU...,521 PARTICIPAÇÕES S/A,1997-07-11,1996-07-30,NaN,NaN,ATIVO,1997-07-11,16330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.859.935/0001-70,BAKER TILLY BRASIL RJ AUDITORES INDEPENDENTES ...
4,01.851.771/0001-55,524 PARTICIPAÇOES SA,524 PARTICIPACOES SA,1997-05-30,1997-04-02,NaN,NaN,ATIVO,1997-05-30,16284,...,RJ,NaN,20020010.0,21,38043700.0,NaN,NaN,gar@opportunity.com.br,40.262.602/0001-31,"BKR - LOPES, MACHADO AUDITORES"

In [4]:
#manter apenas colunas necessarias
df = df[['CNPJ_CIA','DENOM_SOCIAL','SIT']]

In [5]:
df.head()

,CNPJ_CIA,DENOM_SOCIAL,SIT
0,08.773.135/0001-00,2W ECOBANK S.A.,ATIVO
1,11.396.633/0001-87,3A COMPANHIA SECURITIZADORA,CANCELADA
2,12.091.809/0001-55,3R PETROLEUM OLÉO E GÁS S.A.,ATIVO
3,01.547.749/0001-16,521 PARTICIPAÇOES S.A. - EM LIQUIDAÇÃO EXTRAJU...,ATIVO
4,01.851.771/0001-55,524 PARTICIPAÇOES SA,ATIVO

In [6]:
df.describe()

                  CNPJ_CIA       DENOM_SOCIAL        SIT
count                 2604               2604       2604
unique                2475               2470          3
top     62.063.177/0001-94  VIBRA ENERGIA S/A  CANCELADA
freq                     3                  3       1823

In [7]:
df.dtypes

CNPJ_CIA        object
DENOM_SOCIAL    object
SIT             object
dtype: object

In [ ]:
#criar um banco de dados e salvar as informações que foram extraidas para o csv

In [8]:
conn = sqlite3.connect('Sparta.db')
c = conn.cursor()

In [ ]:
df.to_sql(name='cias', con=conn)

In [10]:
!sqlite3 Sparta.db ".tables"

cias

In [11]:
!sqlite3 Sparta.db "PRAGMA tables_info(cias)"

In [12]:
df_read = pd.read_sql("select * from cias", con=conn)

In [13]:
df_read

,index,CNPJ_CIA,DENOM_SOCIAL,SIT
0,0,08.773.135/0001-00,2W ECOBANK S.A.,ATIVO
1,1,11.396.633/0001-87,3A COMPANHIA SECURITIZADORA,CANCELADA
2,2,12.091.809/0001-55,3R PETROLEUM OLÉO E GÁS S.A.,ATIVO
3,3,01.547.749/0001-16,521 PARTICIPAÇOES S.A. - EM LIQUIDAÇÃO EXTRAJU...,ATIVO
4,4,01.851.771/0001-55,524 PARTICIPAÇOES SA,ATIVO
...,...,...,...,...
2599,2599,13.574.594/0001-96,ZAMP S.A.,ATIVO
2600,2600,71.320.931/0001-15,ZANINI SA EQUIPS PESADOS,CANCELADA
2601,2601,24.744.012/0001-99,ZH OPERAÇÕES S/A,CANCELADA
2602,2602,92.749.217/0001-17,ZIVI SA CUTELARIA,CANCELADA
2603,2603,74.533.787/0001-93,ZOGBI LEASING S/A ARRENDAMENTO MERCANTIL,CANCELADA

In [14]:
query = """
        SELECT SIT FROM CIAS
        WHERE SIT="ATIVO";
"""
df_read = pd.read_sql(query, con=conn)
df_read

       SIT
0    ATIVO
1    ATIVO
2    ATIVO
3    ATIVO
4    ATIVO
..     ...
773  ATIVO
774  ATIVO
775  ATIVO
776  ATIVO
777  ATIVO

[778 rows x 1 columns]

In [111]:
c.execute('DROP TABLE changelog')

In [112]:
#criar uma tabela para salvar as mudanças em DENOM_SOCIAL e SIT
c.execute('CREATE TABLE changelog (CNPJ_CIA VARCHAR(255), DENOM_SOCIAL VARCHAR(255), SIT VARCHAR(100), DATA TIMESTAMP)')

In [113]:
#verificar se a tabela foi criada
!sqlite3 Sparta.db ".tables"

changelog  cias

In [114]:
 pd.read_sql("select * from changelog", con=conn)

Empty DataFrame
Columns: [CNPJ_CIA, DENOM_SOCIAL, SIT, DATA]
Index: []

In [115]:
#criar triggers para salvar a data de quando dados são alterados ou inseridos

In [142]:
c.execute("drop trigger inserirLog")
c.execute("drop trigger inserirLogUpdate")

In [143]:
c.execute("""
CREATE TRIGGER inserirLog AFTER INSERT ON cias
BEGIN 
INSERT INTO changelog (CNPJ_CIA, DENOM_SOCIAL, SIT, DATA) VALUES (new.CNPJ_CIA,new.DENOM_SOCIAL, new.SIT, DATE('now'));
END;

""")

In [144]:
c.execute("""
CREATE TRIGGER inserirLogUpdate AFTER UPDATE ON cias
BEGIN 
INSERT INTO changelog (CNPJ_CIA, DENOM_SOCIAL, SIT, DATA) VALUES (old.CNPJ_CIA,new.DENOM_SOCIAL, new.SIT, DATE('now'));
END;

""")

In [129]:
#testar os triggers
c.execute("""
UPDATE cias 
SET DENOM_SOCIAL = "COMPANHIA DO OLEO" 
WHERE CNPJ_CIA = "01.851.771/0001-55"
""")

In [ ]:
c.execute("""
UPDATE cias 
SET SIT = "CANCELADO" 
WHERE CNPJ_CIA = "08.773.135/0001-00"
""")

In [139]:
c.execute("""
INSERT INTO cias 
(CNPJ_CIA,DENOM_SOCIAL,SIT) VALUES ("0.2.050.500/400-00", "NOVA NEWS","ATIVO")
""")

In [140]:
#triggers estao funcionando
df_read = pd.read_sql("select * from changelog", con=conn)
df_read

             CNPJ_CIA       DENOM_SOCIAL        SIT        DATA
0  08.773.135/0001-00    2W ECOBANK S.A.  CANCELADO  2024-06-12
1  01.851.771/0001-55  COMPANHIA DO OLEO      ATIVO  2024-06-12
2  0.2.050.500/400-00          NOVA NEWS      ATIVO  2024-06-12

In [141]:
pd.read_sql("""select * from changelog
where DATA BETWEEN '2014-10-09 00:00:00' AND '2024-10-10 23:59:59'  """, con=conn)

             CNPJ_CIA       DENOM_SOCIAL        SIT        DATA
0  08.773.135/0001-00    2W ECOBANK S.A.  CANCELADO  2024-06-12
1  01.851.771/0001-55  COMPANHIA DO OLEO      ATIVO  2024-06-12
2  0.2.050.500/400-00          NOVA NEWS      ATIVO  2024-06-12

In [145]:
pd.read_sql("""select * from changelog
where DATA > '2024-01-01' """, con=conn)

             CNPJ_CIA       DENOM_SOCIAL        SIT        DATA
0  08.773.135/0001-00    2W ECOBANK S.A.  CANCELADO  2024-06-12
1  01.851.771/0001-55  COMPANHIA DO OLEO      ATIVO  2024-06-12
2  0.2.050.500/400-00          NOVA NEWS      ATIVO  2024-06-12

In [146]:
conn.close()